.main-container{
  width: 100vw;
  height: 100vh;
  background-color: rgba(231, 245, 245, 0.616);
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}
.por{
  position: relative;
  
  
}
.abc{
  z-index: -1;
  
}


.imp{
  position: absolute;
  background-color: rgba(231, 245, 245, 0.616);
  
}


